@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all var(--transition-time) ease-in-out;
}

@import "./sass/shadows";
@import "./sass/colors";
@import "./sass/presets";

:root,
:root::before,
:root::after {
	--transition-time: 0.2s;
	--font-poppins: "Poppins", sans-serif;
	--font-montserrat: "Montserrat", sans-serif;
	--font-source-sans: "Source Sans 3", sans-serif;
}

@import "./sass/mixins";
@import "./sass/responsive";
@import "./sass/variables";
@import "./sass/typography";

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: var(--font-poppins);
}

html,
body {
	::-webkit-scrollbar {
		width: 1.5px;
		height: 1.5px;
		background: transparent;

		&-thumb {
			background: rgba(0, 0, 0, 0.5);
		}

		&-track {
			background: transparent;
		}
	}
}

::selection {
	background-color: var(--color-main-hover);
	color: var(--color-white);
}

.dispn {
	display: none !important;
}
