@import "../../../sass/mixins";

.home-hero {
	width: calc(100% - 32px);
	height: calc(100vh - 32px);
	margin: 16px;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;

	&-graphic {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;

		img {
			object-fit: cover;
			width: 80%;
			max-height: 100%;
			height: auto;
			transform: scaleX(-1);
		}
	}

	&-content {
		width: 45%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 48px;
		padding: 0 0 0 5%;
	}

	&-title {
		width: 100%;
		@include font(Orbitron, 64px, 200, 120%, #fff, 4px);
		animation: appear 0.4s ease-in-out 1s forwards;
		opacity: 0;
		text-align: left;
	}

	&-subtitle {
		width: 100%;
		color: #fff;
	}

	&-btn {
		@include init-button();
		width: 48px;
		height: 48px;
		position: absolute;
		bottom: 32px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;

		&-arrow {
			width: 1px;
			background-color: #fff;
			position: relative;
			animation: expand-arrow 0.5s linear 1s forwards;

			&::before,
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				width: 1px;
				height: 50%;
				background-color: #fff;
				transform-origin: bottom;
			}

			&::before {
				transform: rotate(-45deg);
			}

			&::after {
				transform: rotate(45deg);
			}
		}
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(2.5);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes reveal {
	0% {
		left: 0;
		width: 100%;
	}

	100% {
		left: 100%;
		width: 0;
	}
}

@keyframes expand-arrow {
	0% {
		height: 0;
	}

	100% {
		height: 48px;
	}
}
